*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    min-width: 1200px;
    font-family: Arial;
}
/*置顶导航*/
a{
    color: #999;
}
.redColor{
    color: #C40000 !important;
}
nav.top{
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
}
nav.top span,nav.top a{
    color: #999;
    margin: 0px 10px 0px 10px;
}
nav.top a:hover{
    color: #C40000;
    text-decoration: none;
}
/*简易搜索栏*/
div.simpleSearchDiv{
    background-color: #C40000;
    width: 300px;
    margin: 10px 20px 40px;
    padding: 1px;
    height: 40px;
    display: block;
}
div.simpleSearchDiv input{
    width: 225px;
    border: 1px solid transparent;
    height: 34px;
    margin: 2px;
    outline:none;
}
div.simpleSearchDiv button{
    width: 60px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 14px;
    /*  font-weight:bold */;
}
div.searchBelow{
    margin-top: 3px;
    margin-left: -20px;
}
div.searchBelow span{
    color: #999;
}
div.searchBelow a{
    padding: 0px 20px 0px 20px;
    font-size: 14px;
}
img.simpleLogo{
    position: absolute;
    left: 10px;
    top: 50px;
    width: 140px;
}
a:hover{
    text-decoration:none;
    color: #C40000;
}
/*确认收货*/
div.confirmReceipt{
    max-width: 1013px;
    margin: 10px auto;
}
div.confirmReceiptImg{
    margin: 5px auto 80px auto;
    width: 900px;
    position: relative;
}
div.confirmReceiptImg div{
    color: #999999;
}
div.confirmReceiptTime3{
    position: absolute;
    top: 100px;
    left: 400px;
}
div.confirmReceiptTime2{
     position: absolute;
     top: 100px;
     left: 190px;
 }
div.confirmReceiptTime1{
    position: absolute;
    top: 100px;
    left: -20px;
}
div.confirmReceiptOrderInfoText{
    margin: 10px 10px 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
    border-bottom: 1px solid #ADC8E6;
}
div.confirmReceiptOrderItem{
    margin: 0 20px;
}
div.confirmReceiptOrderItemText{
    margin: 20px 10px;
    font-size: 14px;
    font-weight: normal;
    color: black;
}
table.confirmReceiptOrderItemTable{
    border: 1px solid #dddddd;
    width: 100%;
}
table.confirmReceiptOrderItemTable thead{
    background-color: #E8F2FF;
    height: 33px;
}
table.confirmReceiptOrderItemTable tr{
    border: 1px solid #DDDDDD;
}
table.confirmReceiptOrderItemTable th,tr{
    text-align: center;
}
table.confirmReceiptOrderItemTable td{
    padding: 20px;
}
td.confirmReceiptOrderItemProductLink{
    text-align: left !important;
}
span.confirmReceiptProductPrice{
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}
span.confirmReceiptSumPrice{
    color: #c40000;
}
div.confirmReceiptOrderDetailDiv{
    margin: 40px;
}
table.confirmReceiptOrderDetailTable{
    width: 100%;
    border-top: 1px solid #DDDDDD;
}
table.confirmReceiptOrderDetailTable td{
    padding: 8px;
    color: black;
    font-size: 14px;
    text-align: left;
}
span.confirmReceiptOrderDetailWangWangGif{
    display: inline-block;
    width: 67px;
    height: 22px;
    background: url("../img/site/wangwang.gif") no-repeat transparent;
    position: relative;
    left: 2px;
}
div.confirmReceiptButton{
    border: 1px solid #F58B0F;
    margin: 20px;
}
div.confirmReceiptWarning{
    margin: 20px 80px;
    font-size: 18px;
    color: red;
    font-weight: bold;
}
button.confirmReceiptButton{
    margin: 20px 80px;
    width: 67px;
    height: 30px;
    border: 1px solid #E67C00;
    background: #F4A21D;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}
button.confirmReceiptButton:hover{
    background: #F6AE30;
}
/*页脚一*/
div.footer{
    margin: 0px 0px;
    border-top: 1px solid #e7e7e7;
}
div.footer-ensure{
    margin: 24px 0px;
    text-align: center;
}
div.footer_desc{
    border-top: 1px solid #e7e7e7;
    padding-top: 30px;
    margin: 0px 20px;
}
div.footer_desc div.descColumn{
    width: 20%;
    float: left;
    padding-left: 15px;
}
div.footer_desc div.descColumn span.descColumnTitle{
    color: #646464;
    font-weight: bold;
    font-size: 16px;
}
div.footer_desc a{
    display: block;
    padding-top: 3px;
}
div.footer_desc a:hover{
    color: #c40000;
    text-decoration: none;
}
/*页脚二*/
div.copyright{
    background-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #C40000;
}
div.copyright span.slash{
    color: white;
}
div.footer div.copyright div.white_link a{
    color: white;
    padding: 0px 5px;
}
div.footer div.copyright div.white_link{
    padding: 10px 0px;
    margin-left: 10px;
}
div.license{
    margin-left: 10px;
    padding-bottom: 30px;
}
div.license span{
    color: #A4A4A4;
}
div.license div.copyRightYear{
    margin: 10px 0px;
    color: #686868;
}
img.cateye{
    margin-left: 20px;
}